GROQ_API_KEY=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
FLASK_SECRET_KEY=any-random-word-you-make-up
FAISS_INDEX_PATH=faiss_index/index.faiss
CHUNKS_PATH=faiss_index/chunks.json
SQLITE_DB_PATH=answers.db
